/*CSS Styles by Laura A. Richter*/

/*!!!!!!!!!Use Bell MT font - matches logo!!!!!!!!!!!!!*/

/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Root Variables*/
:root{
	--lavender: #8C65A6;
	--plum: #493159;
	--silver: #D6D5D6;
	--gray: #7f7f7f;

	--drop-shadow-sm: -3px 3px 7px var(--gray);
  	--drop-shadow: -6px 6px 10px var(--gray);
}

/*Global Styles*/
html{
  scroll-behavior: smooth;
}

body{
	font-size: 1em;
	line-height: 1.25em;
	font-family: "Bell MT", serif;
	max-width:1500px;
	margin: 0 auto;
	background-color: var(--plum);
}

header{
	background-color: var(--silver);
	border-radius: 0 0 40px 40px;
	padding: 2rem;
	display: flex;
	position: relative;
}

header h1{
	font-size: 3em;
	line-height: 3rem;
	font-weight: bold;
	color: var(--plum);
	padding: 1rem;
	padding-left: 2rem;
}

header nav ul{
	display: flex;
	margin-left: auto;
	position: absolute;
	right: 0;
}

header nav ul li{
	background-color: var(--lavender);
	font-weight: bold;
	padding: 1rem;
	margin: 1rem;
	border-radius: 15px;
	box-shadow: var(--drop-shadow-sm);
	transition: transform .5s;
}

header nav ul li a{
	text-decoration: none;
	color: var(--silver);
	font-size: 1.15em;
}

header nav ul li:hover{
	background-color: var(--plum);
	transform: scale(1.1, 1.1);
}

main{
	margin: 1rem 0;
	padding: 2rem;
	background-color: white;
	border-radius: 40px;
}

#bio{
	display: grid;
	grid-template-columns: auto auto auto;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 3rem;
}

main #bio, #bio h2, #bio p{
	background-color: var(--plum);
	color: var(--silver);
	padding: 1rem;
	border-radius: 40px;
	grid-column: 1/2;
}

main #bio #icons{
	display: flex;
	flex-direction: column;
	grid-column: 2/3;
	grid-row: 1/5;
	justify-content: space-evenly;
}

main #bio h2{
	padding-top: 3rem;
}

main #bio img{
	border-radius: 40px;
	grid-column: 3/4;
	grid-row: 1/5;
	align-items: right;
	padding-left: 1rem;
}

h2{
	font-size: 2em;
	font-weight: bold;
	line-height: 2rem;
	color: var(--plum);
}

h3{
	color: var(--lavender);
	font-size: 1.5em;
	line-height: 2rem;
	font-weight: bold;
}

#best ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#best ul li{
	padding: 2rem;
}

#best ul li a{
	text-decoration: none;
	background-color: var(--lavender);
	color: var(--silver);
	font-size: 1.15em;
	font-weight: bold;
	margin: 1rem;
	padding: 1rem;
	display: block;
	border-radius: 40px;
	box-shadow: var(--drop-shadow-sm);
	text-align: center;
	transition: transform .5s;
}

#best ul li a:hover{
	background-color: var(--plum);
	transform: scale(1.1, 1.1);
}

footer{
	background-color: var(--silver);
	text-align: center;
	border-radius: 40px 40px 0 0;
	padding: 1rem;
	color: var(--plum);
}


/*Media Queries*/
@media screen and (max-width:480px){}
@media screen and (max-width:900px){}
@media screen and (max-width:1263px){}